@CHARSET "ISO-8859-1";
.navSearch{
/*border: solid;*/
border-bottom-color:green;
border-bottom-style:solid;
border-bottom-width:1px;
width: 100%;
height: 20px;
/*border-color: blue;*/


}


.navSearch p{
	
	font-size: 20px;
}
.submenulinks{
	position: absolute;
	margin-left: 800px;
	margin-top: -10px;
	
}
.submenulinks a{
	color: green;
	text-decoration: none;	
}
.submenulinks a:HOVER{
color: blue;
text-decoration: none;	
	
}
.submenulinks a:AFTER{
	text-decoration: none;
}


.maincontainer{
	
	/* border: solid;
	border-color: blue; */
	width: 1280px;
	height: 750px;
	margin-left: 100px;
	position: relative;
}
.leftcontainer{
	border-right: thin dashed;
	border-right-color: blue;
	width: 190px;
	height: 740px;
	margin-top:2px;
	margin-left:2px;
	position: absolute;
}
.rightcontainer{
	/* border: solid;
	border-color: blue; */
	width: 1075px;
	height: 740px;
	margin-top:2px;
	margin-left:193px;
	position: absolute;
}
.heading{
	color: green;
	font-family: serif;
}
.sideheadings{
	padding-left: 25px;
	
}
.sideheadings h3{
	color: green;
	font-family: serif;
	font-size: 20px;
}
.sideheadings ul{
	display: block;
	padding-top: 15px;
}
.sideheadings li{
	padding-bottom: 5px;
	display: block;
	text-decoration: none;
	color: black;
	/*margin: 0.1em 0.1em ;*/
	text-align: inherit;	
}
.sideheadings a{
	display: block;
	text-decoration: none;
	height: 30px;
	color: black;
}
.sideheadings a:HOVER{
	display: block;
	background-color: green;
	color: white;
	text-decoration: none;
}
.rightsubcontainer{
	border-left: thin dotted;
	border-left-color: gray;
	border-bottom: thin dotted;
	border-bottom-color: gray;
	width: 250px;
	height: 300px;
	position: absolute;
	margin-left: 500px;
	margin-top: -300px;
	
}
.ideadescription{
	padding-left: 25px;
	width: 450px;
}
.biddingbox{
	padding-left: 310px;
}
.biddingbox input{
	width: 50px;

}
.userdetail{
	padding-left: 30px;
	margin-top: -20px;
	
}
.userdetail h3{
	color: green;
	font-family: serif;
	font-size: 20px;
}
.igbox{
	border: solid;
	border-color: black;
	width: 50px;
	height: 50px;
}
.ideadescription h2{
	font-family: serif;
	color: green;
}