@CHARSET "ISO-8859-1";
.mybidform{
	width: 1050px;
	height: 100%;
	/* border: solid;
	border-color: black; */
	margin-left: 180px;
	margin-top: -10px;
}

.mybidleftpan{
	width:750px;
	height: 650px;
	/* border: solid;
	border-color: black; */
	margin-top: 15px;
	position: relative;
}
.mybidrightpan{
	position:absolute;
	margin-left:750px;
	margin-top:-650px;
	width:295px;
	height: 350px;
	
	/*border-color: gray;*/
	border: thin dashed gray;
	
	
	
}
.tabbar{
	width: 650px;
	height: 50px;
	background-color:#f6f6f6; 
	border-color: #e0e0e0;
	/*margin-top: 20px;*/
	/*margin-left: 25px;*/
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
     inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}
.sortdesc{
	padding-top:15px;
	margin-left: 25px;
}
.sortdesc select{
	border: none;
	background-color:#f6f6f6; 
}
.sortdesc select:HOVER{
	border: none;
}
.verticalline{
	position:absolute;
	border-left:solid;
	border-left-style:ridge;
	border-left-color:gray;
	margin-left: 180px;
	margin-top:-40px;
	width: 30px;
	height: 50px;
}
.headertext{
	/*margin-top:-15px;*/
	color: green;
	font-family: serif;
	font-size: medium;
}
.tabledata{
	margin-top:10px;
	width: 650px;
	height: 400px;
}
.tabledesign{
	width:100%;
	border: 3px;
	background: rgb(243, 244, 248);
}
.tabledata th{
	color: green;
	font-size: 14px;
	border-bottom: thin;
	border-bottom-color: black;
	
}
.tabledata td{
	margin-left:35px;
	padding-left: 30px;
}

.iterativedata{
	width: 650px;
	height: 400px;
	border: solid;
	border-color: blue;
	margin-top: -270px;
}
.rowdesign{
	margin-left: 5px;
	background-color: #f6f6f6;
}
.domain{
	position: absolute;
	margin-left: 200px;
	margin-top: -22px;	
}
.bidate{
	position: absolute;
	margin-left: 350px;
	margin-top: -22px;
}
.idbudget{
	position: absolute;
	margin-left: 450px;
	margin-top: -22px;
}
.bidcheck{
	position: absolute;
	margin-left: 580px;
	margin-top: -22px;
}
.idealabel{
	
}
.statshead{
	margin-left: 23px;
}
.hinvite{
	color: green;
	font-family: serif;
	font-size: 22px;
}
.statshead span{
	font-size: 13px;
	color: gray;
}
.statshead li{
	padding-top: 15px;
}
.counterstats{
	position: absolute;
	margin-left: 230px;
	margin-top: -147px;
}
.counterstats li{
	padding-top: 15px;
	
}
.note{
	color: green;
	margin-left: 20px;
	margin-top: 25px;
	font-size: 13px;
	font-family: serif;
	width: 200px;
}
.taskacceptbutton{
	margin-left: 500px;
}