@CHARSET "ISO-8859-1";

.maincontainer{
	
	/*width: 100%;*/
	width: 1395px;
	height: 650px;
	/* border: solid;
	border-color: blue; */
	margin-top: -10px;
	margin-left: 10px;
	position: relative;
	
}
.leftpan{
	width: 300px;
	height: 640px;
	border-right: thin dashed;
	border-right-color: blue;
	margin-top: 2px;
	margin-left: 2px;
	position: relative;
}
.middlepan{
	
	width: 750px;
	height: 640px;
	/* border: solid;
	border-color: blue; */
	position: absolute;
	margin-left: 305px;
	margin-top: -640px;
	
}
.rightpan{
	width: 328px;
	height: 640px;
	border-left: thin dashed;
	border-left-color: blue;
	position: absolute;
	margin-left: 1055px;
	margin-top: -640px;	
}
.commitlabel{
	position: absolute;
	margin-left: -100px;
	margin-top: -300px;
}
.ideadetails{
	padding-left: 22px;
}
.ideadetails h3{
	color: green;
	font-family: serif;
}
.linksdetails{
	padding-left: 22px;
	padding-top: 25px;
	width: 250px;
	
}
.linksdetails ul{
	display: block;
}
.linksdetails li{
	padding-bottom: 5px; 
	display: block;
	text-decoration: none;
	color: black;
	/*margin: 0.1em 0.1em ;*/
	text-align: inherit;
}
.linksdetails a{
	display: block;
	text-decoration: none;
	height: 30px;
	color: black;
}
.linksdetails a:HOVER{
	display: block;
	background-color: green;
	color: white;
	text-decoration: none;
}


/**/
.sidesublinks{
	padding-left: 25px;
	padding-top: 25px;
	
}
.sidesublinks ul{
	display: block;
}
.sidesublinks li{
	padding-bottom: 10px;
	display: block;
	
	display: block;
	text-decoration: none;
	color: black;
	/*margin: 0.1em 0.1em ;*/
	text-align: inherit;
}
.sidesublinks a{
	display: block;
	text-decoration: none;
	height: 30px;
	color: black;
}
.sidesublinks a:HOVER{
	display: block;
	background-color: green;
	color: white;
	text-decoration: none;
}
.buttonoutline{
	padding-left: 600px;
	padding-top: 5px;
}
.ideaowner{
	padding-left: 20px;
	width: 250px;
}
.ideaowner h4{
	color: green;
	font-family: serif;
	font-size: 18px;
	
}
.ratebtn {
	padding-left: 110px;
	
}
