@CHARSET "ISO-8859-1";

.leftpan{
	/* border: solid;
	border-color: blue; */
	width: 200px;
	height: 600px;
	margin-left: 180px;
	position: relative;
}
.rightpan{
	/* border: solid;
	border-color: blue; */
	width: 850px;
	height: 600px;
	margin-left: 382px;
	position: absolute;
	margin-top: -600px;
}
.sidesublinks{
	padding-left: 25px;
	padding-top: 25px;
	
}
.sidesublinks ul{
	display: block;
}
.sidesublinks li{
	padding-bottom: 10px;
	display: block;
	
	display: block;
	text-decoration: none;
	color: black;
	/*margin: 0.1em 0.1em ;*/
	text-align: inherit;
}
.sidesublinks a{
	display: block;
	text-decoration: none;
	height: 30px;
	color: black;
}
.sidesublinks a:HOVER{
	display: block;
	background-color: green;
	color: white;
	text-decoration: none;
}

/**/
