@CHARSET "ISO-8859-1";


.homelogo{
	height:40px;
	width:230px;
	
	margin-top:4px;
	margin-left: 180px;
	margin-bottom: 20px;
	
}
.topnavitems{
	margin-top: -60px;
background-color: blue;	
}
.topnavigationbg{

	background-color: #f5f5f5;
	margin-top:-20px;
	width: 100%;
	height: 45px;
	
}
.btnpostproject{
	margin-left: 835px;
	margin-top: 3px;
	height: 35px;
	width: 180px;
	border: none;
	background-color: #6e9d76;
	font-weight: bold;
	color: #f3f7f0;
}
.btnpostproject:HOVER{
background-color: #6d68b2;
color: white;	
}
