@CHARSET "ISO-8859-1";

.maincontainer{
	
	/*border: solid;
	border-color: blue;*/
	width: 1350px;
	/*height: 680px;*/
	height: 100%;
	margin-top:-13px;
	margin-left: 35px;
}
.leftpan{
	margin-left: 2px;
	/* border: solid;
	border-color: blue; */
	border-right:thin solid gray;
	/*border-right-color:gray;*/
	width: 250px;
	/*height: 642px;*/
	height: 900px;
	margin-top: 1px;

}
.centrepanfor{
	/* border: solid;
	border-color: black; */
	width: 1100px;
	/*height: 900px;*/
	height: 100%;
	position: absolute;
	margin-left: 258px;
	margin-top: -890px;
}
.midpan{
	/* margin-left: 254px; */
	/* border: solid;
	border-color: blue; */
	width: 780px;
	/*height: 642px;
	margin-top: 642px;*/
	height: 100%;
	/* margin-top: -850px; */
	position: static;
	
}
.rightpan{
	
	margin-left: 785px;
	/*  border: solid;
	border-color: blue; */ 
	width: 307px;
	/*height: 642px;
	margin-top: 642px;*/
	height: 100%;
	margin-top: -900px; 
	position: absolute;
}
.toptimelinebar{
	margin-top:2px;
	margin-left:2px;
	width: 775px;
	height: 50px;
	/* border: solid;
	border-color: black; */
	background: #f0f5f7;
}
.toptimelinebar h3{
	margin-top: 4px;
	margin-left: 300px;
	color: green;
	font-family: serif;
	
}
.contain{
	margin-top: -43px;
}

.rightpaninside{
	border: thin dashed gray;
	height: 640px;
	
}
.remainingbudget{
	color: green;
	padding-left: 30px;
}
.projectdetails{
	padding-left: 40px;
	padding-top: 30px;
}
.projectdetails h3{
	font-family: serif;
}
.projectdetails h4{
	color:green;
	font-family: serif;
	padding-left: 25px;
	font-size: 22px;
	
}
.projectdetails ul{
	font-family: serif;

	padding-bottom: 25px;
}
.projectdetails li{
	padding-bottom: 5px;
	font-size: 16px;
}
.projectlinks ul{
	display: block;
}
.projectlinks li{
	padding-bottom: 13px;
	display: block;
	text-decoration: none;
	color: black;
	margin: 0.1em 0.1em ;
	text-align: inherit;	
	margin-top: 0.1em;
	margin-bottom: 1px;
}
.projectlinks a{
	display: block;
	text-decoration: none;
	height: 30px;
	color: black;
}
.projectlinks a:HOVER{
	display: block;
	background-color: green;
	color: white;
	text-decoration: none;
}

.projectstatsview{
	padding-left: 35px;
	padding-top: 35px;
	/*border: thin dashed gray;*/
}
.projectstatsview h4{
	color: green;
	font-family: serif;
	font-size: 22px;
}
.projectstatsview li{
	padding: 10px;
	padding-left: 2px;
}
.counterstats{
	position: absolute;
	padding-left: 200px;
	margin-top: -280px;
}
.counterstats li{
	padding: 10px;
}
.critcalStats{
	width: 245px;
	height: 120px;
	padding-left: 25px;
}
.critcalStats h4{
	color: green;
	font-family: serif;
	font-size: 22px;
}
.critcalStats p{
	font-family: serif;
	font-size: 14px;
	color: green;
}
.criticalpath{
	 background-color:white; 
	 border-color:red; 
	 border-style:double; 
	 width: auto;
	 height:auto; 
	 overflow: hidden; 
}
.btngroup{
	padding-left: 630px;
	padding-top: 5px;
}
.alerttext{
	color: red;
	font-family: serif;
	font-size: 25px;
	padding-left: 30px;
}	
/* .leftbarpanel{
	border: solid;
	margin-top:20px;
	width: 400px;
	border-color: blue;
	height: 800px;
	
}
.leftbarpanel ul{
	display: block;
}
.leftbarpanel li{
display: block;
text-decoration: none;
color: black;
margin: 0.1em 0.1em ;
text-align: inherit;	
margin-top: 0.1em;
margin-bottom: 1px;
}

.leftbarpanel a{
	display: block;
	text-decoration: none;
	height: 30px;
	color: black;
}
.leftbarpanel a:HOVER{
	display: block;
	background-color: green;
	color: white;
	text-decoration: none;
}
 */