@CHARSET "ISO-8859-1";

.forminput{
	width: 1050px;
	/*height: 850px;*/
	height: 850px;
	/* border: solid;
	border-color: black; */
	margin-left: 180px;
	margin-top: -10px;
}
.formfields{
	margin-left: 50px;
	margin-top: 40px;
}
.formfields label{
	color: green;
	
}
.formfields h1{
	color: green;
	font-family: serif;
	
	
}
.subheading{
	color: lime;
	font-family: serif;
	font-size: 18px;
}
.name input{
	width: 400px;
	
}

.sbscript{
	padding-left: 310px;
	color: red;
}
.text{
	margin-top: -30px;
}
#CharCountLabel1{
	color: red;
	padding-left: 120px;
}
.rightinfor{
	border: dashed thin ;
	border-color: gray;
	width: 350px;
	height: 150px;
	margin-left: 600px;
	margin-top: -620px;
	background-color: #f5efde;
	
}
.rightinformto{
	border: dashed thin ;
	border-color: green;
	width: 350px;
	height: 150px;
	margin-left: 600px;
	margin-top: 10px;
	position: absolute;
	background-color: #f1f1f1;
}
.rightinfor h4{
	color: green;
	padding-left: 45px;
	padding-top: 15px;
}
.rightinfor p{
	margin-left: 25px;
}
.infortext{
	width: 250px;
	padding-left: 25px;
	padding-top: 20px;
	font-family: serif;
	font-size: 15px;
	color: green;
}
/*-----------------------------------------------------------------------*/




.form input, textarea { 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 200px; 
    background: #FFFFFF url('bg_form.png') left top repeat-x; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    } 
   
textarea { 
    width: 400px; 
    max-width: 400px; 
    height: 150px; 
    line-height: 150%; 
    } 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    } 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
    } 
   
.submitnew input { 
    width: auto; 
    padding: 9px 15px; 
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    }