@CHARSET "ISO-8859-1";

.leftpan{
	/* border: solid;
	border-color: blue; */
	width: 190px;
	height: 650px;
	margin-top: -20px;
	position: relative;
}
.centerpan{
	position: absolute;
	/* border: solid;
	border-color: blue; */
	width: 1220px;
	/*height: 650px;*/
	height: 100%;
	margin-top: -650px;
	margin-left: 192px;
	
}
.Midpan{
	position: absolute;
	/* border: solid;
	border-color: black; */
	width: 838px;
	/*height: 648px;*/
	height: 100%;
	margin-top: -2px;
	margin-left: -5px;
}
.rightpan{
	position: absolute;
	/* border: solid;
	border-color: green; */
	width: 387px;
	/*height: 647px;*/
	height: 100%;
	margin-top: -230px;
	margin-left: 832px;
}
.notifyticker{
	padding-left:25px;
	padding-top:5px;
	width: 823px;
	margin-top:20px;
	height: 100px;
	margin-left:5px;
	border:green;
	background-color: #e0f0f3;
	
}
.notifyticker ul{
	list-style-type: disc;
	padding-left: 30px;

}
.textstyle{
	margin-top: 30px;
	margin-left: 15px;
}
.subheaderhome{
	font-family: serif;
	color: green;
	font-size: 20px;
}
.subheaderhome a{
	color: #65a838;
	text-decoration: none;
}
.subheaderhome a:HOVER {
	color: green;
	text-decoration: none;
}
.tabbar{
	width: 820px;
	height: 50px;
	background-color:#f6f6f6; 
	border-color: #e0e0e0;
	margin-top: 5px;
	margin-left: 5px;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
     inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
     
}

.sortdesc{
	padding-top:15px;
	margin-left: 25px;
	display: block;
	width: 300px;
	height: 200px;

}
.sortdesc select{
	border: none;
	background-color:#f6f6f6; 
}
.sortdesc select:HOVER{
	border: none;
}

.messagesblock{
	border: solid 2px thin;
	border-color: gray ;
	padding-top:5px;
	width: 250px;
	height: 200px;
	margin-top: 72px;
	background-color: #f0f0f1;
	
}
.messagesblock h3{
	color: green;
	padding-left: 20px;
	font-family: serif;
}
.messagesblock li{
	padding-bottom: 2px;
	padding-left: 20px;
	color: blue;
}
.values{
	padding-left: 150px;
	margin-top: -110px;
}
.idea{
margin-top: -65px;	
}
.project{
	margin-top: -65px;
}
/*---------------------------------------------------------------------------------------*/


