@CHARSET "ISO-8859-1";

.navSearch{
/*border: solid;*/
border-bottom-color:green;
border-bottom-style:solid;
border-bottom-width:1px;
width: 100%;
height: 110px;
/*border-color: blue;*/
margin-top: -22px;
}


.navSearch p{
	
	font-size: 20px;
}

.leftFilterbar{
	/*border: solid;*/
	
	width: 400px;
	/*border-color: blue;*/
	height: 100%;
	
}
.mainUserBar{
	position:relative;
	/*border: solid;*/
	border-bottom-width:1px;
	border-bottom-style:dotted;
	border-bottom-color:blue;
	width: 1022px;
	/* border-color: blue; */
	height: 100%;
	margin-top: -608px;
	margin-left: 400px;
	
}
.menubar{
	margin-top:50px;
	margin-left: 200px;
	
}
.menubar a{
	color: black;
}
.menubar a:HOVER {
	text-decoration: none;
	color: blue;
}
.headerline{
	color: green;
}
.footerbottom{
	position:relative;
	border: solid;
	width: 100%;
	height: 120px;
	border-color: blue;
	margin-left: 0px;
	
	
}
.imgthumbnail{
	height: 50px;
	width: 50px;
	border: solid;
	border-color: black;
}
.submenulinks{
	position: absolute;
	margin-left: 500px;
	margin-top: 54px;
	
}
.submenulinks a{
	color: green;
	text-decoration: none;	
}
.submenulinks a:HOVER{
color: blue;
text-decoration: none;	
	
}
.submenulinks a:AFTER{
	text-decoration: none;
}
.submenubutton{
	margin-left: 210px;
	margin-top: 18px;
		
}
.resultset{
	margin-left: 50px;
	margin-top: 18px;
}
.resultsetn{
	margin-left: 680px;
	margin-top: -28px;
	position: absolute;
}
.persondetails{
	margin-left: 50px;
	margin-top: 40px;	
}
.userdetails{
	margin-left: 110px;
	margin-top: -90px;
}





/* new code implementation**/


.input-group{
	margin-left: 500px;
	margin-top: 20px;
}
.stylish-input-group .input-group-addon{
    background: #fff !important;
    padding: 5px !important;
 
}
.stylish-input-group .form-control{
    border-right: 0;
    border-left: 0;
    box-shadow: 0 0 0; 
    border-color: #ccc;
}
.stylish-input-group button{
    border: 0;
    background: transparent;
    
}

input.searchbox {
    width: 680px !important;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    
}

input.searchbox:focus {
    width:400px;
    /*width: 130% !important;*/
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    transition: width 0.5s;
}
/* .bodycontainer{
	border: solid;
	width: 100%;
	height: 100%;
	color: blue;
	margin-top: 115px;	
} */
