@CHARSET "ISO-8859-1";


.projectlogodesign{
	height:60px;
	width:295px;
	
	margin-top:30px;
	margin-left: 155px;
	margin-bottom: 20px;

}
.headertext{
	font-family: serif;
	font: bold;
	
	padding: 0px;
	
	
}
.toplabel{
	margin-left: 350px;
	margin-top: 50px;
}
.headertext #topmsg{
	font-size: 50px;
}
hr { 
    
    margin-top: -20px;;
    /*margin-bottom: 0.5em;*/
    margin-left: auto;
    margin-right: auto;
    /*border-style: inset;*/
    border-width: 1px;
} 
.picturesession{
	/*background-image: url("/bootstrap/img/signinbg.png");*/
	/*border: 4px;
	border-style:solid;
	border-color:black;*/
	height: 350px;
	width: 450px;
	margin-left: 270px;
	margin-top: 52px;
	
}

.verticalLine {
    border-left: thin ridge black;
    position:relative;
    margin-top:-490px;
    margin-left:800px;
    height: 500px;
    border-color: #cccbcb;
}
.signbottom{
	width: 330px;
	margin-top: 35px;
	margin-left: 1px;
	border-style: ridge;
	border-color: #cccbcb;
	
}

.formdetails{
	margin-left: 35px;
}
.logindetails{
	margin-top:40px;
	width: 300px;
	  
}
.forgot{
	margin-left: 240px;
}
.inputsize{
	width: 210px;
}
.emailinput{
	width: 420px;
}
.warningmsg{
	/*border-left: thin ridge black;*/
    position:relative;
    margin-top:-490px;
    margin-left:900px;
    height: 300px;
    width:350px;
    border-color: gray;
    border: thin dashed gray;
    letter-spacing: 2px;
    
}

.warningmsg1{
	margin-left: 50px;
	margin-top: 50px;
	
	
}
.badgesize{
	width: 160px;
	height: 50px;
}
.topleftlabel{
	margin-left: 150px;

}
