@CHARSET "ISO-8859-1";


.leftbarpanel{
	/*border: solid;*/
	margin-top:20px;
	width: 400px;
	/*border-color: blue;*/
	height: 800px;
	
}
.leftbarpanel ul{
	display: block;
}
.leftbarpanel li{
display: block;
text-decoration: none;
color: black;
/*margin: 0.1em 0.1em ;*/
text-align: inherit;	
margin-top: 0.1em;
margin-bottom: 1px;
}

.leftbarpanel a{
	display: block;
	text-decoration: none;
	height: 30px;
	color: black;
}
.leftbarpanel a:HOVER{
	display: block;
	background-color: green;
	color: white;
	text-decoration: none;
}
.Midpanel{
	/*border: solid;
	border-color: blue;*/
	border-left:solid;
	border-left-color:gray;
	border-left-width:thin;
	margin-top:10px;
	/*width: 400px;*/
	height: 800px;
	width:825px;
	position: absolute;
	margin-top: -800px;
	margin-left: 400px;	
}
.imgboxlarge{
	border: solid;
	width: 150px;
	height: 185px;
	margin-left: 184px;
	margin-top: 4px;
}
.linkdescription{
	margin-top:30px;
	width: 190px;
	height: 300px;
	margin-left: 185px;
	
}
.username{
	margin-left: 15px;
}
.username h1{
	color: green;
}
.sblinks{
	color: green;
}
.smallthumb{
	width: 35px;
	height: 45px;
	border: solid;
	border-color: black;
	margin-left: 185px;
}
.logintime{
	margin-left: 228px;
	position: absolute;
	margin-top: -45px;
	color: gray;
	font-size:11px;
	
}

.midpanleftside{
	/*border:solid;
	border-color:blue;*/
	width: 500px;
	height: 100%;
	
}
.midpanrightside{
	
	position:absolute;
	/*border: solid;
	border-color: blue;*/
	width: 325px;
	height: 100%;
	margin-top: -800px;
	margin-left: 500px;
}
.ratingbox{
	
	width: 315px;
	height: 200px;
	/*border: solid;
	border-color: blue;*/
	background-color: #f2f2f2;
	    /*box-shadow: 2px 2px;*/
	
}
.shortdetails{
	padding:1px;
	width: 320px;
	height: 250px;
	border: dotted;
	border-width:thin;
	border-color:gray;
	margin-top: 10px;
	
}
.shortdetails li{
	margin-left: 15px;
	margin-top: 15px;
}
.shortdetails2{
	padding:1px;
	width: 320px;
	height: 300px;
	border: dotted;
	border-width:thin;
	border-color:gray;
	/*border: solid;
	border-color: blue;*/
	margin-top: 10px;
}
.prating{
	margin-left: 100px;
	color: green;
	padding-top: 30px;
}
.pprogress{
	margin-top: 20px;
	margin-left: 10px;
}